<div class="new-post-button" (click)="toggleForm()">+</div>

<form (submit)="createPost()" *ngIf="showForm">
  <label>
    <span>Title:</span>
    <input [(ngModel)]="newPost.title" name="title" focus="true" placeholder="Blog post title">
  </label>

  <label>
    <span>Content:</span>
    <textarea [(ngModel)]="newPost.content" name="content" placeholder="Plain text blog post content"></textarea>
  </label>

  <label>
    <span>Tags:</span>
    <input [(ngModel)]="newPost.tagsString" name="tagsString" placeholder="comma, separated, list, of, tags">
  </label>

  <button type="submit">Create Post</button>
</form>
