:host {
  position: absolute;
  right: 0;
  top: -75px;
  margin: 0;
  padding: 0;
  z-index: 100;

  .new-post-button {
    cursor: pointer;
    width: 36px;
    line-height: 36px;
    font-size: 28px;
    background-color: #205d6b;
    border-radius: 18px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      color: #ff9d37;
    }
  }

  form {
    background-color: #205d6b;
    padding: 12px 45px 45px 12px;
    margin: 0;
    border-radius: 4px 18px 4px 4px;
    font-weight: 300;
    font-size: 14px;
  }

  label {
    display: block;

    span {
      line-height: 20px;
      width: 100px;
      display: inline-block;
      text-align: right;
      vertical-align: top;
      margin: 0 8px 8px 0;
    }
  }

  input, textarea {
    width: 400px;
    border: solid 1px #666;
    border-radius: 2px;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
  }

  textarea {
    height: 100px;
  }

  button {
    border: solid 1px #000;
    position: absolute;
    bottom: 12px;
    right: 45px;
    border-radius: 4px;
    color: #ff9d37;
    background-color: #fff;
    font-size: 14px;
    padding: 4px 12px;
    cursor: pointer;

    &:hover {
      background-color: #ff9d37;
      color: #fff;
    }
  }
}
