:host {
  text-align: right;
  display: block;

  .tag {
    text-decoration: none;
    background-color: #ccc;
    color: #333;
    padding: 2px 8px;
    margin: 2px 4px 2px 0;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 2px;

    &.is-filter {
      background-color: #205d6b;
      color: #f6f6f6;
    }
  }
}
