<app-create-post [newPost]="newPost" (postSubmit)="createPost($event)"></app-create-post>

<a *ngIf="singleView" class="back" routerLink="/posts">< Back</a>

<div class="filter-detail" *ngIf="filter">
  Filtering by: <span>{{filter}}</span> (<a routerLink="/posts">clear</a>)
</div>

<app-blog-post *ngFor="let post of posts; trackBy: identifyPost" [post]="post" [singleView]="singleView" (openPost)="openPost($event)" [ngClass]="{'list-view':!singleView}"></app-blog-post>

<div class="no-blog-posts" *ngIf="(posts.length === 0) && !filter">
  <p>There are no existing blog posts. Use the (+) button above to create your first blog entry!</p>
</div>

<div class="no-blog-posts" *ngIf="(posts.length === 0) && filter">
  <p>There are no blog posts matching your filter (<a routerLink="/posts">clear</a>)</p>
</div>
