:host {
  display: block;
  position: relative;

  a.back {
    background-color: #f0f0f0;
    font-weight: 400;
    font-size: 12px;
    margin: 8px 0;
    padding: 2px 8px;
    display: inline-block;
    text-decoration: none;
    border-radius: 6px;
    text-transform: uppercase;
    color: #000;

    &:hover {
      background-color: #ff9d37;
    }
  }

  .no-blog-posts {
    color: #5892b7;
    font-size: 18px;
    text-align: center;
    font-weight: 300;

    a { color: #90bbc5; }
  }

  .filter-detail {
    z-index: 50;
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;

    a { color: #90bbc5; }

    span {
      border-radius: 2px;
      background-color: #000;
      color: #fff;
      padding: 0 8px;
      line-height: 18px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
