<h4 class="post-title" (click)="onTitleClick()" >{{ post.title }}</h4>
<div class="post-content">{{ post.content }}</div>
<app-post-tags [tags]="post.tags"></app-post-tags>
<div class="post-footer">Created: {{ post.created_at | amTimeAgo }}</div>
