:host {
  display: block;
  font-weight: 300;
  padding: 12px;
  margin: 0 0 4px 0;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
  cursor: pointer;

  &.list-view {
    .post-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  h4 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 22px;
    color: #a95800;

    &:hover {
      color: #ff8500;
      background-color: #f0f0f0;
    }
  }

  p {
    margin: 0 0 12px 0;
    padding: 0;
  }

  .post-footer {
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    margin-top: 12px;
  }
}
