/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Open Sans", sans-serif;
  margin: 8px 12px;
  padding: 0;
  background-color: #333;
  color: #fff;
}

h1 {
  color: #ff9d37;
  font-weight: 300;
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 70px;
}
